
.footer{
    background: green;
    position:relative;
    padding: 0 10px 0 10px;
    bottom: 0px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
    clear: both;
}

a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: #F74759;
    text-decoration: none;
    margin: 10px;
}
.facebook a:hover{
    color: #4661AF;
}
.twitter a:hover{
    color: #009CFA;
}
.instagram a:hover{
    color: #C600B5;
}
.google a:hover{
    color: #EC4232;
}
.msg a:hover{
    color: #F79D00;
}
