<div class="jumbotron" style="background-image : url(11.jpg); background-size:cover;">
    <form action="" >
      <div class="form-group">
        <label for="name">
          Your Name: <input type="text" class="form-control" placeholder="Type your name">
        </label>
      </div>
      <div class="form-group">
          <label for="name">
            Your Message: <textarea type="text"  class="form-control" placeholder="write message"></textarea>
          </label>
      </div>
      <div class="form-group">
        <button class="btn btn-success left">
          Submit
        </button>
      </div>
      
    </form>
    
  </div>